@charset "UTF-8";
html {
  font-family: sans-serif;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: #fff;
}

nav,
article,
aside,
details,
main,
header,
footer,
section,
fieldset,
figcaption,
figure {
  display: block;
}

header,
section,
footer {
  position: relative;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea {
  min-width: 0;
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  resize: none;
}

a:active,
a:hover,
input:focus,
textarea:focus {
  outline: 0;
}

a,
a:visited {
  text-decoration: none;
}

label,
.wordWrap {
  word-wrap: break-word;
  word-break: break-all;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

input {
  outline: none;
}

[v-cloak] {
  display: none;
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 17.066666666666666px;
  }
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 14.399999999999999px;
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 12.8px;
  }
}

@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 11.040000000000001px;
  }
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 10.666666666666666px;
  }
}

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 9.6px;
  }
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 8.533333333333333px;
  }
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

/*flex布局*/
.flex-wrap {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.flex-con {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-con2 {
  -ms-flex: 2;
  -webkit-box-flex: 2;
  flex: 2;
}

.flex-middle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  clear: both;
}

.clearfixDiv {
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  clear: both;
}

/*自动隐藏文字*/
.ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* cart-title */
.cart-title {
  height: 4rem;
  font-size: 1.4rem;
  color: #666666;
  font-weight: bold;
  background: #FAFAFA;
}

.cart-title .title-wrapper {
  position: relative;
}

.cart-title .title-wrapper .iconfont {
  font-size: 0.8rem;
}

.cart-title .title-wrapper .iconfont:first-child {
  position: absolute;
  top: -0.2rem;
  left: -3rem;
}

.cart-title .title-wrapper .iconfont:last-child {
  position: absolute;
  bottom: -0.2rem;
  right: -3rem;
}

/*搜索头*/
.search-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  padding: 0.9rem 0;
  line-height: 2.6rem;
}

.search-bar .search-box {
  flex: 1;
  display: flex;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin-left: 1.5rem;
  background: #f2f2f2;
}

.search-bar .search-box .iconfont {
  display: block;
  width: 3.2rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 3.2rem;
  flex: 0 0 3.2rem;
  color: #444;
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-align: center;
}

.search-bar .search-box .iconfont .icon-delete-fillet {
  color: #999;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.search-bar .search-box > input {
  width: 100%;
  flex: 1;
  display: block;
  color: #333;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  letter-spacing: 0.05rem;
}

.search-bar .cancelBtn {
  display: block;
  width: 6rem;
  height: 2.6rem;
  color: #333;
  font-size: 1.3rem;
  line-height: 2.6rem;
  text-align: center;
}

input::-webkit-search-cancel-button {
  display: none;
}

/*子路由过场*/
.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}

/* 带图的列表 */
.media-list .item {
  position: relative;
  padding: 1.5rem;
  background: #ffffff;
}

.media-list .item.line {
  position: relative;
}

.media-list .item.line:after {
  content: '';
  position: absolute;
  display: block;
  background: #eee;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .media-list .item.line:after {
    transform: scaleY(0.7);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2) {
  .media-list .item.line:after {
    transform: scaleY(0.5);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (-webkit-min-device-pixel-ratio: 3) {
  .media-list .item.line:after {
    transform: scaleY(0.333);
  }
}

.media-list .item.line:after {
  left: auto;
  right: 0;
  width: calc(100% - 8.5rem);
}

.media-list .item .left {
  width: 6.8rem;
  height: 6.8rem;
}

.media-list .item .left > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.media-list .item .middle {
  padding-left: 1.5rem;
}

.media-list .item .middle .title {
  font-size: 1.4rem;
  line-height: 3.5rem;
  color: #070b08;
}

.media-list .item .middle .other {
  font-size: 1.3rem;
  color: #888;
}

.media-list .item .middle .other .iconfont {
  font-size: 1.2rem;
  padding-right: 0.5rem;
}

.media-list .item .right {
  color: #b3b3b3;
}
 

 /*# sourceMappingURL= index.css.map */